[2016-12-13 01:14] alphp opened #1 "Crash in win32_create_service"
PHP crash when win32_create_service is call.
The code is de same of de example of documentation: http://php.net/manual/en/function.win32-create-service.php

[2016-12-14 08:30] macintoshplus commented on #1
Thanks for the interest.

This extentions can build but not work correctly. I need help for final work to upgrade this extension for PHP 7.0 API.

I need some informations. PHP Version ? NTS or TS ? You run the registration service as "Administrator" ?

[2016-12-14 14:42] alphp commented on #1
Sorry, i forgot say that information.
PHP 7.0.12, TS, x64 run as Administrator.
Do you know this fork https://github.com/credomane/pecl-win32-service?
It can help.

Regards

[2016-12-14 14:44] alphp commented on #1
I am very interested in that this extension works for PHP 7.0 and 7.1, I have several services created with PHP 5.6 and without this extension I can not migrate to PHP7.

[2016-12-14 19:16] alphp commented on #1
Whith PHP 7.0.14 also crash, the windows report:
https://drive.google.com/open?id=0Bx60JE3vJ_5yWmdrSXJIVEkyS0U

[2016-12-14 20:06] alphp commented on #1
More tests:
Functions tested and ok: win32_delete_service, win32_start_service and win32_query_service_status.
Functions tested and crash: win32_stop_service and win32_create_service.

PHP-CLI 7.0.14-ts-x64 as Administrator

Regards

[2016-12-15 09:43] macintoshplus commented on #1
Thanks for this tests.

Can you test this latest version ?
https://ci.appveyor.com/project/macintoshplus/win32service/build/job/b6j89su26b6a5y99/artifacts

This link is normaly the version needed in your case. All other version also available.

In my test, the service install, start, stop, uninstall work sucessfully.

[2016-12-15 14:19] alphp commented on #1
I'm test it:
- win32_start_service => OK
- win32_create_service => OK
- win32_delete_service => OK
- win32_query_service_status => OK
- win32_stop_service => KO
- win32_start_service_ctrl_dispatcher => KO

Later I do another test and I send you the reports of the crash.

Regards

[2016-12-15 15:53] macintoshplus commented on #1
Thanks for this tests.

Can you share the PHP test file ? If I have the same result, I can debug the programme just in time.

For my test, i use https://github.com/InExtenso/win32service/blob/master/sample.php

Thanks in advance.

[2016-12-15 16:37] alphp commented on #1
Ok, I run my test on Windows 10 x64.
Two scripts:
- service_apache.php => Starting and stopping the "Apache2.4" service, if the service is runing it stop it.
- service.php => Sample of full windows service writed in PHP.

php service.php create
net start PublicadorAgenciasWeb

In log:
[···]
2016-12-15 17:32:40	INFO: Analyzing command
2016-12-15 17:32:40	INFO: Querying service status
2016-12-15 17:

[2016-12-16 12:38] macintoshplus commented on #1
Hi,

On starting service, I have an error "1063". It's same for you ?

Usually use this extension for php 5.6 ? If yes, on TS or NTS PHP version ?

PHP crash only if ZTS is enabled. I cannot debug juste in time because windows does not display this option.
Work in progress...

[2016-12-16 14:11] alphp commented on #1
Hi,

On starting service, I have an error "1067".

I have several services with PHP-5.6-TS

service.php is the skeleton...

Regards

[2016-12-16 15:11] macintoshplus commented on #1
The service crash at this line `spprintf(&service_key, 0, "%s%s", SERVICES_REG_KEY_ROOT, g->service_name);` (from win32service.c line 74).
The exception is throw by function `_erealloc` from zend_alloc.c at line 2464.

I have some difficulty for understand this error. I continue after this weekend.

[2016-12-16 16:08] alphp commented on #1
I'm reading code of credomane fork, in win32service.c are many changes:
- Comment lines 73 to 96
- Line 100 are remplaced whith many new lines.
- Create some lost constants
I've never been good at C, but I can do a fork to add the changes I think can help and do a push.

[2016-12-16 16:21] macintoshplus commented on #1
Thanks !

He commented on these lines because there was a problem of concurrent access to variables and he could not handle it.

I can also comment on them but it would not give the same functional level as the old extension.

I will temporary comment on them to try to have a TS version usable quickly.

[2016-12-16 18:09] alphp commented on #1
Service started OK!!!!
- win32_continue_service: Not tested
- win32_create_service: OK
- win32_delete_service: OK
- win32_get_last_control_message: OK
- win32_pause_service: Not tested
- win32_query_service_status: OK
- win32_set_service_status: OK
- win32_start_service_ctrl_dispatcher: OK
- win32_start_service: OK
- win32_stop_service: KO
Looks good...

[2016-12-19 07:12] macintoshplus commented on #1
stacktrace
[code]

Local vars :
[code]

[2016-12-19 07:34] macintoshplus commented on #1
@alphp I have no error and no app crash on `win32_stop_service` function

[2016-12-21 15:43] alphp commented on #1
I'm test this build: https://ci.appveyor.com/project/macintoshplus/win32service/build/job/4hr7jrpdv2ibp6i1/artifacts and it crash on win32_stop_service

[2016-12-30 14:44] macintoshplus commented on #1
Stack
[code]

Error `msg	0x000000000414d1f0 "Stack around the variable 'service_len' was corrupted."` but I don't understand this in this context

[2017-01-03 08:42] macintoshplus commented on #1
I have succesfully running all script in this configuration.
Please can you test the new release available here https://ci.appveyor.com/project/macintoshplus/win32service/build/php-7.0.21/job/cl61mdxkgm3mvuxi

Can I add your `service.php` file on repository for help on future test and show in exemple ?

[2017-01-03 15:43] rquadling commented on #1
Hi. I am (was) one of the original maintainers of this extension. Thank you for picking up my slack.

[2017-01-03 16:44] alphp commented on #1
Yes, you can use service.php.
Change the texts in Spanish, also the name of the class, for what you consider more opportune.

[2017-01-04 10:32] macintoshplus commented on #1
@alphp
Thanks for your help and your contribution. Your file service with some update:
Https://github.com/InExtenso/win32service/blob/php-7.0/service.php

The next step is PHP 7.1 and add new feature from Windows Services.

@rquadling
Thanks for your work! Can you help me update the pecl.php.net?

[2017-01-04 12:09] rquadling commented on #1
I'm currently without a build environment for Windows (moved to Mac a few years ago and have no licences). But the 30day license for one of the modern VMs (as long as I can get the right VS installed), should be doable.

[2017-01-04 13:49] macintoshplus opened #4 "Update this extension on PECL web site"
Who to update the pecl.php.net web site for this extension ?

https://pecl.php.net/package/win32service

I have read this page : https://pecl.php.net/account-request.php
I has to make it? Another solution exist?

[2017-01-04 13:49] macintoshplus commented on #1
Yes it's possible.
For me the build environment is not the problem. I use AppVeyor for build in release mode and I have an VM for debug at my work.

I have open an new issue #4 for update the pecl website.

[2017-01-05 08:17] macintoshplus opened #6 "Crash on win32_start_service with php.exe"
1- add `'path' => '"' . dirname(PHP_BINARY) . '\\php-win.exe"',` at line 15 into `sample.php`
2- run `php sample.exe install`
3- run `php service_dummy.php`

Crash stack:

[code]

PHP version:

[code]

PHP build command: `configure.bat --with-mp=auto --enable-cli --disable-zts --enable-win32service=shared --with-php-build=deps --enable-debug --enable-mbstring --enable-cli-win32`

[2017-01-05 08:40] macintoshplus commented on #6
No crash on branch PHP-7.0.

[2017-01-05 10:48] alphp commented on #6
In my tests tonight I used my branch https://github.com/alphp/win32service/tree/no-cli-constraint that only has one modification in the code to remove the load restriction of the extension in CLI SAPI.

I have tested both with php-7.0.14-ts-x64 and php-7.1.0-ts-x64 with correct results with php-win as binary for main service loop and php.exe for all other commands.

[2017-01-05 11:07] macintoshplus commented on #6
The SAPI name for `php-win.exe` is `cli`. The removed code have no effect.

In PHP 7.1 this code has been added into the `php_cli.c` file
[code]

This code attempt to get the current console codepage only for `php.exe`. But in the service context, is not a console context.

I agree that it is necessary to use `php-win.exe` but `php.exe` does not have to crash in this context.

I have open an bug o

[2017-01-05 12:30] alphp commented on #6
I want to use win32service with apache, so I have removed the CLI SAPI restriction.

[2017-01-05 12:36] macintoshplus commented on #6
Ok, for apache or IIS, I prefer use specific configuration file. If you want remove this restriction or change the method to restrict usage, please open an new issue.

[2017-01-05 12:52] alphp commented on #6
OK, maybe when we have something more stable.
For now having my own fork and unofficial compilation is enough.
Later on I can make a push request with the proposed change.

[2017-01-05 15:18] macintoshplus commented on #6
This extension work with PHP 7.1.1-dev but not with PHP 7.1.0.

[2017-01-05 17:44] alphp commented on #6
Now that you say it, you've already noticed.
It does not work if you compile against PHP-7.0.0 or PHP-7.1.0.
If you compile against 7.0.x or 7.1.x then it works.

[2017-01-10 09:07] macintoshplus commented on #6
Fixed with PR #10

[2017-01-10 09:07] #6 closed

[2017-01-10 11:36] macintoshplus opened #11 "Enable use this extention for all sapi"
Remove the cli sapi restriction.

On cli SAPI full work, on other SAPI, 3 functions are disabled with an php error:

![image](https://cloud.githubusercontent.com/assets/814683/21804739/d5b813e6-d730-11e6-9f98-9b88bd5fabf1.png)

CLI SAPI PHP Infos:
[code]

[2017-01-10 11:38] macintoshplus commented on #11
The commit [678b2830db8ca8755931897d241968199fe146ad](https://github.com/InExtenso/win32service/commit/678b2830db8ca8755931897d241968199fe146ad) implement this behavior.

[2017-01-10 11:40] macintoshplus commented on #11
Build result is available here for test only:
* php 7.0 https://ci.appveyor.com/project/macintoshplus/win32service/build/v1.3.50/job/euuuqhm6c4i4c9k5/artifacts
* php 7.1 https://ci.appveyor.com/project/macintoshplus/win32service/build/v1.3.50/job/rmwes0euvdpy5drf/artifacts

[2017-01-10 11:44] macintoshplus commented on #11
ping @alphp

[2017-01-10 12:07] alphp commented on #11
Great!!!

[2017-01-10 12:53] alphp commented on #11
Tested with PHP-7.1.1RC1: all OK.
Great job.
Best regards

[2017-01-10 14:19] macintoshplus commented on #11
Good news !
Thanks for feedback.

[2017-01-10 18:11] alphp commented on #11
I added a note in the manual ...
http://php.net/manual/en/win32service.installation.php

[2017-01-11 09:17] alphp commented on #11
On Apache Lounge: https://www.apachelounge.com/viewtopic.php?t=7484

[2017-01-11 10:40] Jan-E commented on #11
I compiled v0.1.2 yesterday into my PHP-builds:
https://www.apachelounge.com/viewtopic.php?t=6617

I will recompile with php_win32service in the phpinfo's.

[2017-01-11 10:53] alphp commented on #11
For the CGI/FastCGI you must compile with v0.1.3.
The 0.1.2 version has a restriction to load only on CLI SAPI.

[2017-01-11 21:03] alphp opened #12 "Upgrading build script to use the new php-sdk OSTC/php-sdk-binary-tools"
The goal is to improve the build script and use the new php-sdk:
https://github.com/OSTC/php-sdk-binary-tools/tree/new_binary_tools

[2017-01-12 06:52] macintoshplus opened #15 "Rename the branch php-7.0 on v1.2"
@Jan-E @alphp I want create a new branch `v1.2` from the `php-7.0` branch and close the old branch.
This would be more consistent with the reality of the sources. The `php-7.0` branch is also built for PHP-7.1.

What do you think ?

[2017-01-12 07:54] alphp commented on #15
I think it's a good idea

[2017-01-12 08:21] Jan-E commented on #15
In other php-extensions it is quite common practice to use 'php7' for the php7.0+ code.

It seems no good idea to name a branch after a version like v1.3 (apart from the fact that it should have been v0.1.3), unless you want old versions to be available forever (like the php 5-versions). If it has a feature you cannot merge into the php7-branch yet, name it after the feature. Something like 'php7-

[2017-01-12 14:21] alphp commented on #15
The scheme proposed by Jan-E is more logical, but I would rename the branch "php-7.0" as "php7-cli" and "v1.3" as "php7".

The "php-7.0" branch has a characteristic that branch "v1.3" does not have (the load restriction in CLI SAPI), so if you have to highlight the branches with specific characteristics that would be the branch "php-7.0" .

[2017-01-12 16:45] macintoshplus commented on #15
I agree with you.

I rename the branch php-7.0 to php7-cli and I rename v1.3 to php7.

It's okay ?

[2017-01-12 17:12] Jan-E commented on #15
Fine with me.

[2017-01-12 17:18] alphp commented on #15
OK!

[2017-01-13 06:25] macintoshplus commented on #15
Thanks for you help. I'm happy for the work finished on this extension.
I have realized the changes.

Note: Please rebase your fork.

[2017-01-13 06:25] #15 closed

[2017-01-13 11:05] alphp commented on #12
I have created a new branch for testing the build.cmd script called build.dev:
https://github.com/alphp/win32service/tree/build.dev

[2017-01-14 22:06] alphp commented on #12
Hi,
I have updated the build script and now use the new php-sdk (#16).
The most important features are:
* YAML AppVeyor: Simplified, added new environment variables.
* Install Script (install.cmd): New, prepare the build environment
* Build Script (build.cmd): Simplified, sets the environment variables for each Architecture.
* Build Task Script (build_task.cmd): New, build the TS and NTS versions

[2017-01-14 22:27] alphp opened #17 "Change version 0.2.0-dev to 0.2.0.beta.1"
Hi,

I suggest changing the version from 0.2.0-dev to 0.2.0.beta.1
Reasons:
1. The "dev" state is a state for continuously changing code.
2. There are no changes in the code, except corrections of errors.
3. There are no new features to implement.
4. It is necessary to test the current code, situation commonly associated with the "beta" phase.

That's why I propose the change to "beta".
The number

[2017-01-15 13:41] alphp opened #18 "archive-svn branch with history"
Hi, I'm import the archived svn repository with history in
https://github.com/alphp/win32service/tree/archived-svn

[2017-01-16 08:18] macintoshplus commented on #18
Good work.
You want add this branch into my repo ?

[2017-01-16 08:24] macintoshplus commented on #17
Done

[2017-01-16 08:24] #17 closed, assigned to nobody

[2017-01-16 08:27] alphp commented on #18
Yes, it is the right place.

[2017-01-16 08:31] macintoshplus commented on #18
OK, How to ? You create a new PR or I must run your commands for import the SVN history ?

[2017-01-16 09:58] alphp commented on #18
I think the simplest thing is to add my repository as a "remote", if you do not already have it.
This way you can create a new branch from any of mine.
That's the method I used to create the archived-svn branch from the local repository where I've cloned the svn.php.net trunk.
[code]

[2017-01-18 06:42] macintoshplus commented on #18
The history is now into my repo. Thanks for your help.

[2017-01-18 06:42] #18 closed, assigned to nobody

[2017-02-16 07:43] eddokloosterman commented on #11
Some feedback after trying the new DLLs; on PHP 7.0 it does work, though running `net start <service name>` it mentions that it cannot start the service. I have a feeling this is due to the way we've setup our service script, and not due to the library, yet that is not confirmed.

[2017-02-16 08:19] macintoshplus commented on #11
@eddokloosterman Thanks for feedback.
You can found into this repository [some example](https://github.com/InExtenso/win32service/tree/php7/examples) for tests and how to implement the service management into your script.
If you need more help for implement or understand how to this extension work, please open a new issue.

[2017-02-16 22:31] alphp commented on #11
I have two services that use this extension and whose skeleton is the example [service.php](https://github.com/InExtenso/win32service/blob/php7/examples/service.php).
Just today I just updated the server to PHP-7.1.2_x64.
I use the binaries compiled by me, which are equivalent to the release [v1.3-dev](https://github.com/InExtenso/win32service/releases/tag/v1.3-dev) published in this repository.

[2017-02-17 06:33] macintoshplus commented on #12
Thanks for this job. I closes this issue because the PR is merged.

[2017-02-17 06:33] #12 closed

[2017-02-17 06:39] macintoshplus commented on #11
The version 1.3-dev is a wrong number version. I just added the good version [0.2.0-beta.1](https://github.com/InExtenso/win32service/releases/tag/v0.2.0-beta.1).
This version contains, one zip for PHP 7.0 with all variant (x64/x86, NTS/TS) and another zip for PHP 7.1 with all variant (x64/x86, NTS/TS).

Thanks for feedback.

I close this issue because it's solved into the version 0.2.0.

[2017-02-17 06:39] #11 closed

[2017-02-17 06:40] macintoshplus commented on #1
Solved into version 0.1.2-RC2 and 0.2.0-beta.1.

[2017-02-17 06:40] #1 closed

[2017-02-20 06:33] #4 closed

[2017-02-28 09:05] alphp commented on #11
Two services, 10 uninterrupted days, 40000 files processed, ZERO errors.
Those are the statistics of the first 10 days of my services written with PHP-7.1.2 and the win32service extension.
These services are an important part of my company's workflow and are in production.

[2017-02-28 20:08] macintoshplus commented on #11
Thanks for your feedback. This is a good news.

[2017-03-08 17:33] macintoshplus commented on #11
The stable version is out : https://github.com/InExtenso/win32service/releases/tag/v0.2.0

[2017-05-01 18:42] AnrDaemon commented on #11
Doesn't run on 7.1.4/TS/x86_64
`PHP Fatal error:  The Win32Service extension not work on PHP 7.1.0. Work with 7.1.1+ in Unknown on line 0`

Could this be a build issue? I've obtained binaries from PECL.

[2017-05-01 18:46] alphp commented on #11
You can see PR #20
One week ago I updated a production environment to PHP-7.1.4 / TS / x86_64 and it did not give any problems.
Binaries to test:
https://ci.appveyor.com/project/alphp/win32service/branch/php7

[2017-05-01 18:49] AnrDaemon commented on #11
It is a building issue, PECL maintainer used PHP Version: 7.1.0 to build extension.
See http://windows.php.net/downloads/pecl/releases/win32service/0.2.0/logs/php_win32service-0.2.0-7.1-ts-vc14-x64-logs.zip

[2017-05-01 18:55] AnrDaemon commented on #11
CI binaries worked like a charm. Thanks.

[2017-05-01 19:16] alphp commented on #11
The [v2.0.0 release](https://github.com/InExtenso/win32service/releases/tag/v0.2.0) of this repo works correctly.

[2017-05-04 05:31] macintoshplus opened #21 "Allow Start/Stop/Pause service without admin account"
Since the version 0.1.0, the user running PHP does a local administrator.

But, it's possible to change the ACL on a Windows Service for allow a non admin account to control it. [Best practices and guidance for writers of service discretionary access control lists](https://support.microsoft.com/en-us/help/914392/best-practices-and-guidance-for-writers-of-service-discretionary-access-control-lists)

[2017-05-04 10:08] macintoshplus commented on #21
I have released a first test for this version.

Environment:
* Windows 10
* PHP 7.0.14 NTS x64
* Win32Service 0.2.1
* Script used `example/service.php`
* Right added `(A;;RPWPDTRC;;;AU)`

Tests:

| action | result for admin | result for authenticated user |
|--------|-------------------|---------------------------------|
| create | OK | Access denied |
| delete| OK | Access denied |
| stop | OK |

[2017-06-12 21:12] alphp opened #22 "Build test for PHP-7.2 (alpha)"
Hello, I have tried to build win32service for PHP-7.2 (alpha) and everything points to the extension being prepared for the next PHP branch.

I have created a branch for the tests and adjustments (compiled with VC15): [php7.2](https://github.com/alphp/win32service/tree/php7.2)

[2017-06-13 10:51] macintoshplus commented on #22
Hi,
Me too in the [less_admin branch](https://github.com/InExtenso/win32service/tree/less_admin).

I have add the image param and VC version into the matrix for build all version of php 7.
But I have a problem for work fine.

See: https://ci.appveyor.com/project/macintoshplus/win32service/build/job/4j98a1vedrqpspet

[2017-06-13 13:38] macintoshplus commented on #22
Yes, build successfully !
https://ci.appveyor.com/project/macintoshplus/win32service/build/job/vb2atbcfl54kmfnt/artifacts

[2017-06-13 13:57] alphp commented on #22
I just added the necessary changes in the php7 branch to build the branches of php 7.0, 7.1 and master.

[2017-06-13 15:13] macintoshplus commented on #22
ok, after when PHP 7.2 will be released, I want only add the 7.2 branch and keep the master.
The branch `less_admin` will be merged into `php7` after many tests. Can you help me ?

[2017-06-13 15:24] alphp commented on #22
OK, I'll be testing with PHP-7.2 until branch 7.2 is created. Until then you can have PR #24 on hold.

[2017-08-08 06:07] macintoshplus commented on #22
I have just change the appveyor configuration on branch less_admin for switch to the 7.2 branch.

[2017-08-08 08:40] macintoshplus commented on #22
The build fail with this error for php 7.0 and 7.2:

[code]

For PHP 7.2:

[code]

[Console log](https://ci.appveyor.com/project/macintoshplus/win32service/build/less_admin.96/job/2m0j65q6li6lp4o7#L92)

[2017-08-08 14:24] alphp commented on #22
Yes, try to clean cache of appveyor

[2017-08-09 16:00] macintoshplus commented on #22
Hi,
The cache is clean.

For the SDK error, I have open en issue here: https://github.com/OSTC/php-sdk-binary-tools/issues/15
The answer proposed can work ?

[2017-08-09 16:19] alphp commented on #22
In PR #24 I updated build scripts for support 7.2

[2017-08-09 16:24] macintoshplus commented on #22
I have add a comment but the support is for `master` branch. The `PHP-7.2` branch has been created.

[2017-08-23 12:15] macintoshplus commented on #22
Hi,

How to update our scripts for build PHP 7.2 with the new recommendations ?

https://wiki.php.net/internals/windows/stepbystepbuild_sdk_2

[2017-08-23 13:35] alphp commented on #22
Looks like I have work ahead of me.
In a few days I have it ready.

[2017-09-04 22:41] alphp commented on #22
Hi, I updated the build scripts and now works on 7.0, 7.1 and 7.2 branches.
All in PR #24.

[2017-11-05 12:56] macintoshplus commented on #22
The PR is merged. Thanks for your help!

[2017-11-05 12:56] #22 closed, assigned to nobody

[2017-11-05 12:57] macintoshplus commented on #21
Add into `less_admin` branch.

[2017-11-05 12:57] #21 closed, assigned to macintoshplus

[2017-12-11 13:08] akathartos opened #28 "win32service for PHP 7.2"
Will there be PHP 7.2 version of DLL available?

[2017-12-12 17:32] macintoshplus commented on #28
Hi,

You can download the latest version from less_admin branch.
It's available here : https://ci.appveyor.com/project/macintoshplus/win32service/build/less_admin.115/job/u30oquj5q2h8t1k1/artifacts

Can you report your tests for improve this version and release it quickly ?

Thanks in advance.

[2017-12-15 04:04] akathartos commented on #28
Hi,

x64 TS VC15 seems to be working properly in our environment, thank you very much!

Br,
Samuli

[2017-12-15 04:04] #28 closed, assigned to nobody

[2018-01-08 06:59] vjaykoogu opened #29 "Extension 'win32service' not present."
I've installed as it's given  in readme section, but while running 'php --ri win32service' im getting **Extension 'win32service' not present.**

Please guide me whats im doing wrong.

### Below steps i've followed for installation.
a) downloaded the Extenstion & unzip.
b) copy pasted **dll** files into **php/ext** dir.
c) in php.ini pasted this line **extension = php_win32service-7.0-ts-vc14-x86.d

[2018-01-08 21:15] macintoshplus commented on #29
Hi,
What is the version of PHP used ? 32/64 bits ? ZTS/NTZ ?

Have you set the extension directory into the php.ini file ?

Have you get the extensions from the [PECL website](https://pecl.php.net/package/win32service) or from the [latest AppVeyor artifacts](https://ci.appveyor.com/project/macintoshplus/win32service/build/less_admin.115) ?

[2018-01-09 04:49] vjaykoogu commented on #29
Thanks for your reply @macintoshplus , My PHP version is 7.0. and i've tried both ZTS/NTZ
Yes i've set  in php.ini.

I've downloaded from PECL website.

[2018-01-09 10:29] vjaykoogu commented on #29
also im getting this popup while starting the services.
![image](https://user-images.githubusercontent.com/87112/34716434-ded56098-f555-11e7-8a1a-4e5b35f31edc.png)

[2018-01-10 07:07] #29 closed, assigned to nobody

[2018-05-28 06:15] lovekobeme opened #31 "issues in start service or create service"
there's some picture, you can see it , i did't change anything in service.php. i can't understand what about it , it's dramatic. win10 environment
![qq 20180528135506](https://user-images.githubusercontent.com/26919967/40599795-77f82574-6281-11e8-9e23-fe9330130539.png)
![qq 20180528135741](https://user-images.githubusercontent.com/26919967/40599796-78531722-6281-11e8-8a13-56470209d671.png)
![qq 20

[2018-05-28 09:32] macintoshplus commented on #31
Hi,

Thanks for the interest in this extension.

Can you describe your work environment ?

PHP version ?
PHP X64 or X86 ?
PHP NTS or TS ?

When you run the script for add the new service have you open the command line windows with administrator's privileges ?

[2018-05-29 00:46] lovekobeme commented on #31
yeah, i have administrator's privileges. thanks for you Answer.
php7.0.29
PHP X86
PHP TS
i create environment from wampserver3.1.3_x86.exe
1. i can't make service from other params, example : 'params' => '"' . __DIR__.'\c.php'. '" run',
![qq 20180529081842](https://user-images.githubusercontent.com/26919967/40632382-075103b6-6319-11e8-84a7-05c4e4a2c8d2.png)
2.when i create it and run it suceess, t

[2018-05-29 07:54] macintoshplus commented on #31
Hi,

The goal of the `service.php` example is show how to manage the service in one object in one PHP File.

You can copy-it and customize this file for your tasks. For this, [copy it](https://github.com/InExtenso/win32service/blob/less_admin/examples/service.php) in you project and put you custom code in the [function `main_loop`](https://github.com/InExtenso/win32service/blob/less_admin/examples

[2018-05-29 08:02] macintoshplus commented on #31
Look this example code: https://github.com/InExtenso/win32service/blob/less_admin/examples/sample.php
It is the minimum code for use this extension.

[2018-05-29 10:46] lovekobeme commented on #31
Yeah, at example above, i'm copy 'win32service/examples/service.php' and customize it.
[service.zip](https://github.com/InExtenso/win32service/files/2047854/service.zip)
![qq20180529183814](https://user-images.githubusercontent.com/26919967/40654485-0db6990c-6371-11e8-8546-d53f4fe5ba6a.png)

[2018-05-29 12:43] macintoshplus commented on #31
In your screenshot, the "params" is set to the file "c.php" this file is used for run the service.

The `c.php` file has the main loop for service and change the service state seem the `run()` function present in the `service.php` ?

Replace the `param` value by `'"'.__FILE__'" run'`. Remove the current service, re-create and start-it.

Edit: Please, paste you code into the comment ;-)

[2018-05-30 03:15] lovekobeme commented on #31
yeah,i upload my code in previous comment(service.zip).
I have no main loop and I can't do it.
![qq 20180530111827](https://user-images.githubusercontent.com/26919967/40697213-cbe5508c-63fb-11e8-89b3-1fb1a92ba96a.png)
I want to build one service excute php script instead of Command Line Interface excute php script.
It's could excute the php script when i start the service.(example: touch 1.txt or

[2018-05-30 13:09] macintoshplus commented on #31
I have written another example based on `service.php` file:
[examples.zip](https://github.com/InExtenso/win32service/files/2053968/examples.zip)

I have move the technical code into the abstract class `AbstractWinServiceManager` for more clearity.

Read the `service.php` file and custom it if you want. But caution to the `$service['service']['service']` value. This is the Windows Service Manager i

[2018-08-24 06:21] #31 closed, assigned to nobody

[2018-08-24 06:22] macintoshplus opened #33 "Crash on startup PHP 7.1.4"
See: https://bugs.php.net/bug.php?id=74522

[2018-08-30 18:59] macintoshplus commented on #33
resolved in 0.3.1, waiting for feedback

[2018-10-19 14:57] #33 closed, assigned to macintoshplus

[2018-12-06 06:52] faithfulman18 opened #34 "7.3"
On the home page, it states that 7.3 is supported, but when I went to the PECL site, it seems that there is not a 7.3 version out there.  Is that going to be updated soon since 7.3 is supposed to be GA tomorrow?

[2018-12-06 09:16] macintoshplus commented on #34
Hi,

Thanks for your ask. The new version 0.3.1 of the Win32Service is in RC1 for PHP 7.3. You can download the pre-built dll here:
https://github.com/win32service/win32service/releases/tag/v0.3.1-RC1
or here: https://ci.appveyor.com/project/macintoshplus/win32service/branch/less_admin/job/ca2oyi3bn0t361pe/artifacts

The version 0.3.1 will be on pecl.php.net website after the PHP 7.3 releases. Ple

[2018-12-06 18:43] faithfulman18 commented on #34
Alright , that sounds good.  I'll be waiting until the official release then.  Thanks again.

[2018-12-07 16:37] macintoshplus commented on #34
Hi,

You can wait until the stable version out. But, if I do not have feedback, the final version is this version.

Can you run your PHP services in staging environment with the new version of PHP and Win32Service to validate the change ?

Thanks for your interest and time.

[2018-12-10 12:47] macintoshplus commented on #34
The 0.3.1 is available on PECL website here: https://pecl.php.net/package/win32service/0.3.1/windows

[2018-12-10 12:47] #34 closed, assigned to nobody

[2018-12-10 15:38] faithfulman18 commented on #34
Hi @macintoshplus,

Sorry I haven't gotten back to you yet.  I have spent a significant amount of time this past weekend working on this.  However, to properly get my project working to test all aspects I ran into a bunch of changes I had to make since it was originally in php 5.5.  While I'm about 80% done with retrofitting my code, I'm not quite there yet. I wasn't ignoring you, I just wanted to

[2019-01-02 16:11] macintoshplus opened #35 "Implement the exit code for service"
See: https://bugs.php.net/bug.php?id=69170

Exit code: https://docs.microsoft.com/en-us/windows/desktop/debug/system-error-codes

If ServiceSpecificExitCode is not equal to zero, the recovery system for the service can run the configured action.

[2019-01-02 21:29] macintoshplus commented on #35
Add the constant: ERROR_SERVICE_SPECIFIC_ERROR for check the service status. :heavy_check_mark:

[2019-01-02 22:19] macintoshplus commented on #35
Make patch for the PHP Documentation :heavy_check_mark:

[2019-01-03 06:18] #35 closed, assigned to macintoshplus

[2019-01-03 07:59] macintoshplus opened #37 "Drop support for PHP 7.0"
The branch 7.0 of PHP is the end of life. Can I drop the extension support for this version?

[2019-01-03 08:53] macintoshplus opened #38 "Add support to custom control"
Allowing to send custom control to the service with SERVICE_USER_DEFINED_CONTROL right.

See: https://docs.microsoft.com/en-us/windows/desktop/api/winsvc/nf-winsvc-controlservice

[2019-01-24 16:30] faithfulman18 opened #40 "Support for adding Dependencies"
It would be most helpful to add support for dependencies.  For example, if you are building a service that relies on a mysql database, or any other service to be up and running before it makes sense for your service to start.

Is this a possibility?

[2019-02-13 15:30] macintoshplus opened #41 "Add support for recovery parameters on create_service"
See:
* function for change the configuration: https://docs.microsoft.com/fr-fr/windows/desktop/api/winsvc/nf-winsvc-queryserviceconfig2a
* for set the recovery params: https://docs.microsoft.com/fr-fr/windows/desktop/api/winsvc/ns-winsvc-_service_failure_actionsa
* https://docs.microsoft.com/fr-fr/windows/desktop/api/winsvc/ns-winsvc-_sc_action
* For enable the recovery:  https://docs.microsoft.co

[2019-02-14 12:08] macintoshplus commented on #37
Now, the build for PHP 7.0 on AppVeyor does not work.
I need to disable it for continue the build.

[2019-02-14 12:11] macintoshplus opened #42 "Creating service with delayed_start parameter not work"
If the service configuration contains the key `delayed_start`, the service creation return an error.

Version : 0.3.x

[2019-02-18 17:17] macintoshplus commented on #40
@faithfulman18  Can you test the version available here:
https://ci.appveyor.com/project/macintoshplus/win32service/builds/22402549

[2019-02-20 18:24] faithfulman18 commented on #40
I've gone to that page, however, I don't see any dll file to download?  Just a list of jobs that bring up a console when you go to one of them.

?

[2019-04-09 08:41] macintoshplus commented on #42
Fixed

[2019-04-09 08:41] #42 closed, assigned to macintoshplus

[2019-04-09 08:41] #41 closed, assigned to macintoshplus

[2019-04-09 08:47] macintoshplus commented on #40
Yes, click on the configuration needed (x86/x64, PHP7.1/7.2/7.3) and click on "artifacts" for download zip who contains the DLL (NTS or ZTS).

Now you can download the pre-builded DLL here: https://github.com/win32service/win32service/releases/tag/v0.4.0
or here: http://pecl.php.net/package/win32service/0.4.0/windows

[2019-04-09 08:47] #40 closed, assigned to macintoshplus

[2019-04-09 08:48] #38 closed, assigned to macintoshplus

[2019-04-11 13:17] ghost commented on #37
I think you can drop php 7.0 extension support without problems :)

[2019-04-23 09:53] xingguo18 commented on #37
I think that no problems.

[2019-05-13 08:31] leihenshang opened #43 "Wait for the connection timeout (60,000 milliseconds) for the PHP service for tests service."
PS D:\webTestProject\php_win32service\examples> php .\managementActions.php start my_test_service
Service : localhost\my_test_service
Error : (1053) Win32Service\Exception\ServiceStateActionException: Unable to start service
PS D:\webTestProject\php_win32service\examples>

windows Event viewer:
Wait for the connection timeout (60,000 milliseconds) for the PHP service for tests service.
I used admi

[2019-05-13 08:32] leihenshang commented on #43
windows 10 64bit home basic

[2019-05-13 14:16] macintoshplus commented on #43
Thanks for the feedback.

By default, all management action need the administrator right.
Can you show the code into `managementActions.php` ?
And the configuration of the `my_test_service` service ?

If you start the service by the windows service manager, the service start ?

[2019-05-14 01:08] leihenshang commented on #43
Thank you very much!I'm done.Use the latest example.

[2019-05-14 01:08] #43 closed, assigned to nobody

[2019-06-21 22:22] macintoshplus opened #44 "PHP 7.4 Support"
Build this extension for PHP 7.4.

Actualy the extention cannot be loaded by the PHP 7.4alpha1 build with this warning:

```Warning: PHP Startup: Can't load module 'ext\php_win32service.dll' as it's linked with 14.21, but the core is linked with 14.20 in Unknown on line 0```

I have open a thread on the IIS forum:
https://forums.iis.net/p/1242842/2149922.aspx?p=True&t=636967270928023329

[2019-06-22 17:54] alphp commented on #44
In https://github.com/php/php-src/blob/PHP-7.4.0alpha1/.appveyor.yml
[code]
In https://github.com/win32service/win32service/blob/v0.4.x/appveyor.yml
[code]

[2019-06-22 18:22] alphp commented on #44
I have already seen that PHP-7.4 is compiled with vs16, I reverse my commit.

[2019-06-22 19:01] alphp commented on #44
https://www.apachelounge.com/viewtopic.php?p=38274

[2019-06-22 22:51] alphp commented on #44
https://github.com/php/php-src/pull/4294

[2019-06-23 10:36] cmb69 commented on #44
Yes. The recent [snapshots](https://windows.php.net/downloads/snaps/php-7.4/) are already build with 14.21.

[2019-06-25 16:11] ASchmidt1 opened #45 "crashes phpinfo( INFO_MODULES )"
Version 0.4.0 (Feb 2019) will crash phpinfo() under PHP 7.3 and 7.2

Can be circumvented by unselecting INFO_MODULES, or by disabling the win32service extension.

Anything greater 7.3.6 oder 7.2.19 is affected.

[2019-06-25 16:37] alphp commented on #45
I checked both the February release
https://github.com/win32service/win32service/releases/tag/v0.4.0
as the last build with PHP-7.3.6-TS-x64.
I also tried the official binary downloaded from https://windows.php.net/downloads/pecl/releases/win32service/
None of the binaries has given problems.
Can you give more information about your environment?

[2019-06-25 16:54] ASchmidt1 commented on #45
I accidentally stumbled across that as I was working on an OPcache bug, which required me to test development builds and release candidates. Despite OPcache, Wincache, and xDebug disabled, phpinfo(8) will fail. But, it will work if all extensions are active, EXCEPT win32service.

I'm using the 2019-02-20 build:
https://pecl.php.net/package/win32service/0.4.0/windows
which works fine with previous

[2019-06-25 19:48] alphp commented on #45
With PHP-7.3.7RC3-TS-x64 crash wen phpinfo () is invoked.
Attached test script.
[win32service-crash.zip](https://github.com/win32service/win32service/files/3327020/win32service-crash.zip)

[2019-06-25 20:18] macintoshplus commented on #45
Hi,

Thanks for your feedback. To search the solution, can you send me the PHP output when it crashes ?

[2019-06-25 20:26] ASchmidt1 commented on #45
I forgot to mention before - running phpinfo() from the php-cli command line does NOT cause problems. It only crashes when running FCGI (php-cgi).

First I fixed the test script, so that the php.exe and php.ini could be located in the "Program Files" folder (embedded space in path):
[code]
Then I ran your script on the command line - result is file "clioutput.txt".
[clioutput.txt](https://github.c

[2019-06-25 20:32] ASchmidt1 commented on #45
Here the side by side of the php-cgi.exe output. Notice the garbled "Content-Type" header in line 2 when win32service extension is loaded.
![inactive-vs-loaded](https://user-images.githubusercontent.com/12052792/60131187-c7706100-9766-11e9-81d4-39e8d4af9eb6.png)

[2019-06-25 20:32] macintoshplus commented on #45
Result of my test in command line:

PHP version | Result for TS | result for NTS
------------ | ------------- | -------------
PHP 7.2.20RC3 | :heavy_check_mark:  | :heavy_check_mark:
PHP 7.3.7RC3 | :heavy_check_mark:  | :heavy_check_mark:

Result with IIS:

PHP x64 version | Result for TS | result for NTS
------------ | ------------- | -------------
PHP 7.3.6 | :no_entry_sign:   | :heavy_check_mar

[2019-06-25 20:41] macintoshplus commented on #45
Ok, what is your web server ? IIS ? Apache ?

The PHP build is: TS or NTS ?

[2019-06-25 20:59] ASchmidt1 commented on #45
Hi, IIS, NTS. However, I'm now able to produce the problem without using IIS. Opening a command window, I can use:
php-cgi -i >output.txt
and it will produce an INTACT content-header, even if win32service is active.

However, running:
php-cgi phpinfo.php >output2.txt
[phpinfo.php.txt](https://github.com/win32service/win32service/files/3327233/phpinfo.php.txt)
will produce the garbled content-heade

[2019-06-25 21:04] macintoshplus commented on #44
Thank you very much. It works fine with the latest snapshot.

[2019-06-26 05:26] macintoshplus commented on #45
Hi,

Can you try with [this build](https://ci.appveyor.com/api/buildjobs/nikudwy9eoa3hfi2/artifacts/php_win32service-0.4.0-v0.4.x-aa6d478e-7.3.zip) and send me the phpinfo html page ?

[2019-06-26 05:33] macintoshplus opened #46 "Object example not work on PHP 7.4"
The [Oriented Object Exemple](https://github.com/win32service/win32service/blob/v0.4.x/examples/object_exemple/) does not work on PHP 7.4.
The parent object `WinServiceAbstract` cannot access to the private function `register` and `delete` of the `WinServiceAdmin` class.

Same error for all privates functions of `WinServiceManager` class

[2019-06-26 05:42] ASchmidt1 commented on #45
[fixed.html.txt](https://github.com/win32service/win32service/files/3328383/fixed.html.txt)
Looks okay now: correct Content-Type header if running php-cgi in command line, and also if running from IIS.

[2019-06-26 06:37] macintoshplus commented on #45
okay, the problem come from the PHP version check. This check is necessary only for PHP 7.0.0 and 7.1.0.
I remove it.

The problem is only from the RC version or the snapshot.

[2019-06-26 06:50] macintoshplus opened #47 "Add unsupported version into the README"
Add a note into the README file about the incompatibility with PHP 7.0.0 and 7.1.0.

[2019-06-26 19:09] #46 closed, assigned to nobody

[2019-06-26 20:37] macintoshplus commented on #45
Preview:
![image](https://user-images.githubusercontent.com/814683/60212843-7b0a4b80-9862-11e9-9ad6-e5155317c7f7.png)

![image](https://user-images.githubusercontent.com/814683/60212807-67f77b80-9862-11e9-90c0-7b171dfe0553.png)

You can download the version 0.4.1 from the [artifact of AppVeyor](https://ci.appveyor.com/project/macintoshplus/win32service/builds/25568314) at the end of build.

[2019-06-26 23:39] alphp commented on #47
Maybe delete 7.1 from the build matrix in appveyor.yml?
In 5 months 7.1 will arrive at the EOL and will stop having security support.
https://php.net/supported-versions.php

[2019-06-26 23:52] ASchmidt1 commented on #45
Thanks, 0.4.1 downloaded, rebooted, and PHP 7.3.7 phpinfo() working under IIS.

[2019-06-26 23:52] #45 closed, assigned to macintoshplus

[2019-06-27 05:39] macintoshplus commented on #47
Yes after the EOL 😉

[2019-06-27 06:37] macintoshplus commented on #47
The goal of this issue is not understandable ? I misspoke maybe.

I want only move the message displayed in Win32Service informations for the PHP version 7.0.0 and 7.1.0 into the README.

After the EOL of the PHP 7.1, we can delete all messages into README and web site. Excepted the PHP official documentation.

[2019-06-27 22:33] alphp commented on #37
Maybe also drop the support for PHP-7.1?
In 5 months, 7.1 will reach the EOL and will no longer have security support.
https://php.net/supported-versions.php

[2019-06-28 10:57] macintoshplus commented on #37
I have written a blog post for this https://nahan.fr/win32service-php-7-0-and-7-1-support/

[2019-07-09 19:48] #44 closed, assigned to macintoshplus

[2019-07-09 19:48] #47 closed, assigned to macintoshplus

[2019-07-23 11:05] borgogelli opened #48 "Can I build it on Linux ?"
I would to install the win32service extension on a Linux server to run a static analysis on my source code which will be then deployes to a Windows system.
Could I build that extension on Linux ?
The phpize command returns an error "Cannot find config.m4".

[2019-07-23 16:09] macintoshplus commented on #48
Hi,

Thanks for your interest for this extension.

I have a bad news for you, this extension work only on Windows Operating System.

For run your PHP script as service on Linux, you can use Supervisord, or Systemd or another service available for run a script in background.

Or simply with this way: `php myscript.php &`

[2019-07-23 16:09] #48 closed, assigned to macintoshplus

[2019-07-23 17:05] alphp commented on #48
The only sense that this extension would have in Linux would be to control a service of a Windows computer from a Linux computer.

For that situation you can try PowerShell for Linux.

[2019-09-02 15:20] macintoshplus opened #49 "Pre-work the upgrade for PHP 8"
See:
https://github.com/php/php-src/blob/57d9b94dea7e634ec4775faa8f33ae03d9db5ef6/UPGRADING.INTERNALS#L33

* [x] Upgrade the code to build for PHP 8.0
* [x] Convert return code to Exception:  Issue #56
* [x] Remove code for old Windows version:  Issue #57
* [x] Check argument value and throw ValueError if need: Issue #58

[2019-12-05 14:29] ghost opened #51 "Characters encoding problems"
Hi,

I've got a problem with characters encodings when displayed in Windows service description :
![image](https://user-images.githubusercontent.com/46027501/70243891-ca3e9b80-1773-11ea-9f25-5deb5b961d2e.png)
Here "é" characters is replaceed with bad ones...

My PHP file is correctly encoded in UTF8.

[2019-12-06 19:56] macintoshplus commented on #51
Hi,

Windows does not use UTF-8 to encode data. To display service information correctly, you must convert the information encoding to the Windows encoding.
Use mbstring to convert all string from UTF-8 to Windows-1252.

PHP Multi-Byte supported encoding : https://www.php.net/manual/en/mbstring.supported-encodings.php
PHP function to conver encoding : https://www.php.net/manual/en/function.mb-conv

[2019-12-09 10:37] ghost commented on #51
Thank you very much for explanation @macintoshplus !

[2019-12-09 10:37] #51 closed, assigned to nobody

[2020-01-04 02:50] ElMacBgl opened #52 "Compilation for PHP7.4 in VC15 ?"
Hi, I was glad to see about your job on win32service, thanks a lot for this !
However, having installed php7.4, I noticed your related dll are compiled in vs16.. ?
I'm sure there is a reason for this, however, my own PHP is compiled on VC15, as it was done for the 7.3 version.
Could you please push the dll compiled for 7.4, in VC15 please (TS-x86 in my case, but I'm sure all versions will please o

[2020-01-04 02:59] ElMacBgl commented on #52
Sorry ! I was refering to one of your posts where you link all dll files (0.4.X in vs16)
After I saw tere was the vc15 version of0.4.1 on https://pecl.php.net/package/win32service/0.4.1/windows
Not tested yet, but it will solved my problem for sure !
Thanks and sorry for disturbing ;)

Bests

[2020-01-04 02:59] #52 closed, assigned to nobody

[2020-02-05 19:38] ASchmidt1 opened #53 "0.4.2 required for 7.4 - but labeled as "not for production""
With the public release of PHP 7.4 having been backleveled to the previous VC version, the win32service "release" 0.4.1 is NOT compatible with PHP 7.4.

PHP will fail to start with message
"PHP Warning:  PHP Startup: Unable to load dynamic library 'win32service' (tried: C:\Program Files\PHP\v7.4\ext\php_win32service.dll (The specified procedure could not be found.)

Your development version 0.4.2

[2020-02-05 20:10] alphp commented on #53
In PECL page you can download official 0.4.1 release that is compatible with PHP-7.4 https://pecl.php.net/package/win32service

[2020-02-05 21:21] ASchmidt1 commented on #53
Uh sorry - that was confusing:
The PECL site very clearly states the OLD date of 2019-07-09 for 0.4.1,, but once you download and inspect the inside of the ZIP file, you indeed find a much newer DLL, dated 2019-12-05.

I can confirm that the 0.4.1-build-2019-12-05 does indeed work with the public release of PHP 7.4

[2020-02-05 21:21] #53 closed, assigned to nobody

[2020-03-27 04:31] ASchmidt1 opened #54 "Usage of win32_set_service_exit_code and win32_set_service_exit_mode"
I have the following PHP code in my service:
[code]
I expected the service to shutdown "harshly", causing Windows to follow the service's recovery settings.

Instead, the service created Application Event Log entries:
[code]

Note the %%1 as param2.

[2020-03-27 20:28] macintoshplus commented on #54
The Windows Service Manager use the recovery parameter (if set correctly) when the service exited abnormally.

But at the same time, the Windows behavior when a service fail is always registering an event in the log.

What is the problem with the extension?

[2020-03-27 20:58] ASchmidt1 commented on #54
Merci Jean-Baptiste for your response.

It's very possible that I'm not correctly using your extension.

I have been successfully using the Windows service recovery options with various other services for many years. However, with my own PHP-written service, I have yet to be able to ever trigger a service recovery (after first two failures).

I was only reporting the Event Log entry, in case the i

[2020-03-27 21:06] ASchmidt1 commented on #54
PS: I mentioned the 7024 event log - because that is NOT how other Windows services behave. When one of my regular services "crashes" occasionally, I will instead see event log entries like:

7031 - The ... service terminated unexpectedly.  It has done this 1 time(s).  The following corrective action will be taken in ... milliseconds: Restart the service.

or

7034 - The ... service terminated une

[2020-03-27 22:20] macintoshplus commented on #54
OK, I have more information.

When you want automatically restart a service with this extension, you need
1) enable the recovery action in windows service configuration
2) call win32_set_service_exit_code(1) and win32_set_service_exit_mode(false) on starting to pre-config the output mode.
3) On crash the configuration will be used to send a signal to Windows Service Manager.
4) On normally exit, y

[2020-04-12 21:32] macintoshplus commented on #54
Hi @ASchmidt1,

Have you solved our issue?

[2020-04-13 13:19] ASchmidt1 commented on #54
Dear Jean-Baptiste - thank you very much for your follow up.

Based on the additional information and my new understanding (of the exit status, vs. the additional exit RC code, and how those two are targeted by the recovery settings), I had made changes to my code AND my recovery settings.

Fortunately, my service is very stable overall and ideally would never "crash", so it might run for quite a

[2020-04-13 19:52] macintoshplus commented on #54
Dear Andy, thank you for your answer. I close this issue, you can reopen if you need or open a new issue for another problem.

[2020-04-13 19:52] #54 closed, assigned to macintoshplus

[2020-06-11 20:56] macintoshplus commented on #49
See https://github.com/win32service/win32service/tree/v1.0.x

[2020-06-11 21:02] macintoshplus opened #55 "Use ValueError when function argument value is wrong"
List of function must be upgraded:
win32_continue_service
win32_create_service
win32_delete_service
win32_pause_service
win32_query_service_status
win32_send_custom_control
win32_set_service_status
win32_start_service_ctrl_dispatcher
win32_start_service
win32_stop_service

[code]

[2020-10-24 14:53] #37 closed, assigned to nobody

[2020-10-24 14:54] macintoshplus opened #56 "Throw Exception if function return an error"
Add Win32ServiceException. The exception code will be the old return code.

[2020-10-24 17:22] faithfulman18 commented on #49
Will support of php 8.0 be ready around time for the release ?

[2020-10-24 19:20] macintoshplus opened #57 "Remove specific code for older Windows version"
Remove all `if` to detect if PHP running on Windows Server 2008, Windows Vista, Windows Server 2003, and Windows XP/2000.

[2020-10-29 22:17] macintoshplus commented on #49
Hi,

Thanks for your interest. The work on this extension is only on my free time.
Help is greatly appreciated!

Help can be
* write code
* update the documentation
* test the newest extension on your project and send feedback
* pay a day of work for this extension

For PHP 8, I work to improve this extension to make great and easier to use.
The future version is 1.0.0 :champagne:

[2020-10-30 19:52] #57 closed, assigned to nobody

[2020-11-23 20:35] #56 closed, assigned to nobody

[2020-11-23 20:35] #55 closed, assigned to macintoshplus

[2020-12-01 20:15] #49 closed, assigned to macintoshplus

[2020-12-01 20:15] macintoshplus commented on #49
V1.0.0 released

[2021-04-13 07:33] apoorvaHealthians commented on #1
Hi Can anybody help me with the same on LAMP, with php7.1  Any help.

[2021-04-23 12:31] macintoshplus commented on #1
@apoorvaHealthians Can you open a new issue with system configuration, php version, win32service version, the steps to reproduce and the error details?

[2021-07-02 13:39] jbcr opened #61 "All example not work with V1"
PHP: 8.0.3
Win32Service: 1.0.0
Exemples: from v1.x Git branch.

When I try to run exemple, I have always a `Win32ServiceException`.

[code]

[2021-07-22 08:12] sambenne opened #62 "Access Denied"
Hi, I am getting access denied no matter the method used.

## The PHP

[code]

## The extension

[code]

What do I need to do to get access. There does not seem to be any information about fixing this.

[2021-08-09 20:23] macintoshplus commented on #62
Hi, thank you for this feedback.

Can you explain how you run the PHP script step by step? And share your script if possible?

[2021-08-17 10:44] EionRobb opened #63 "Can't use in embed sapi"
I'm using the "embed" sapi, from the php_embed.c code that comes with PHP, embedded using embeder2 (https://github.com/RDashINC/embeder2), however win32service rejects anything that isn't the "cli" sapi.  I recompiled win32service without the check for "cli" and it runs with the embeder2 exe fine.

Is it possible to remove the "cli" check altogether?

[2021-08-18 20:16] macintoshplus commented on #63
Hi,

Thanks you for your feedback. Unfortunately, I cannot remove the security check on functions available only on cli SAPI.

When you use on embedded, you can apply a patch to add the embed sapi into the security check.

I can accept a pull request to add the embedded sapi in security check.

[2021-08-19 02:00] EionRobb commented on #63
Fair enough, couldn't hurt to ask :)

I did end up patching and rebuilding win32service to look for "embed" instead, but I'll change that over to look for "cli" too and try and wrangle that into a PR :)

[2021-08-19 20:37] macintoshplus commented on #63
Thanks for your merge request https://github.com/win32service/win32service/pull/64.

[2021-08-19 20:37] #63 closed, assigned to macintoshplus

[2021-08-19 20:43] macintoshplus commented on #62
@sambenne any informations?

[2021-08-19 20:47] macintoshplus opened #65 "AppVeyor x86 build fail"
On AppVeyor, all x86 build fail for PHP 8.x.

The error is:

[code]

Full build log: https://ci.appveyor.com/project/macintoshplus/win32service/builds/40440991/job/2a7tmw7fhd36klsd#L306

PHP Source code: https://github.com/php/php-src/blob/00c668a15d699e9a463d7feec9d4f927cb7e4105/main/streams/plain_wrapper.c#L882

[2021-08-19 21:42] #61 closed, assigned to nobody

[2021-08-20 11:46] sambenne commented on #62
Sorry, Github was not sending me notifications.

I am currently doing ```LdapRecord\Models\ActiveDirectory\User::get()``` and this returns all the users as I want. This tells me that the credentials are correct and I can talk to the LDAP server.

However, when trying to login using Laravel it always seems to fail. I am upgrading from adldap2/adldap2-laravel and I have followed the instructions but

[2021-08-23 13:22] macintoshplus commented on #62
Hi,

I don't understand the link with the PHP Extension Win32Service and the issue explained in first comment...

[2021-09-08 16:42] fghber opened #67 "Interact with Win32Services in a browser: ServiceAccessDeniedException"
I would like to allow users of my intranet set to start/stop a Windows service. It sounds like the Win32Service extension for PHP and this library would make this feasible. When I invoke the process with my own/an admin account it works, but when a regular user browses to the sight I get an exception:

`Service : localhost\my_test_service Error : (5) Win32Service\Exception\ServiceAccessDeniedExcep

[2021-09-10 06:29] macintoshplus commented on #67
Hi,

To allow your user to restart a service from the website, you need allow the IIS (or Apache) user to do it.

PS: I move this issue to Win32Service

[2021-09-10 17:55] fghber commented on #67
Hi,
thank you for your response and for moving it to the right place.
I am using ISS (10) but cannot configure it as needed.

I think I know the general steps:
1. Assign a user identity to the IIS AppPool that runs the PHP process in question.
2. Grant the user identity that runs the AppPool in question the rights to start/stop a service, e.g. using the `sdset` as shown on the wiki or `subinacl /s

[2021-09-13 16:54] macintoshplus commented on #67
This page can be useful http://woshub.com/set-permissions-on-windows-service/

[2022-02-03 19:25] evandrocoan opened #68 "Missing win32 binaries on Github releases page"
They are available on https://pecl.php.net/package/win32service/0.4.2/windows
![image](https://user-images.githubusercontent.com/5332158/152414124-1b9d17bd-5658-48fe-86e8-b8a5c1815f79.png)

But on Github they are not available:
![image](https://user-images.githubusercontent.com/5332158/152414169-001f3bc2-8b52-40dd-9210-e071009c54a3.png)

When I first saw it on Github, I thought the project did not

[2022-02-03 19:55] macintoshplus commented on #68
Hi, thank you for your report. I know this issue [AppVeyor x86 build fail](https://github.com/win32service/win32service/issues/65).

Why do you need an x86 version of this extension?

I'm happy if you have any information to help me to solve this issue. Or if you know another service to build the extension.

[2022-02-03 23:52] evandrocoan commented on #68
The x86 would be for a legacy project being updated with PHP 7.4.  I just downloaded it from https://pecl.php.net/package/win32service/0.4.2/windows which has the x86 binaries.

[2022-09-08 13:24] jbcr opened #71 "Access denied on service registration"
When I use the Win32ServiceBundle, I have this error from Win32Extension:

Configuration:
[code]

Result

[code]

![image](https://user-images.githubusercontent.com/51637606/189133735-b1659f34-71e9-46fa-a928-c903481df459.png)

[2022-09-08 16:46] macintoshplus commented on #71
doc for help https://docs.microsoft.com/en-us/windows/win32/api/winsvc/nf-winsvc-changeserviceconfig2a

[2022-09-09 08:56] macintoshplus commented on #71
In Win32Service documentation, the constant values of `WIN32_SC_ACTION_REBOOT` and `WIN32_SC_ACTION_RESTART` is inverted.

[2022-09-09 08:56] #71 closed, assigned to macintoshplus

[2022-09-09 08:58] macintoshplus commented on #68
Good news. I close this issue :+1:

[2022-09-09 08:58] #68 closed, assigned to nobody

[2022-09-09 08:59] macintoshplus commented on #67
@fghber I close this issue. Open an new issue if your need help.

[2022-09-09 08:59] #67 closed, assigned to macintoshplus

[2022-09-09 09:01] macintoshplus commented on #62
I close this issue. Open a new issue if help needed.

[2022-09-09 09:01] #62 closed, assigned to nobody

[2022-09-09 09:02] macintoshplus commented on #65
The x86 build is OK on Github Action.

[2022-09-09 09:02] #65 closed, assigned to nobody